body{
    box-sizing: border-box;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    height: 100%;
    background: #ACCBE1;
    font-family: 'Kumbh Sans', sans-serif;
    overflow: hidden;
}
#content{
    height: 100%;
    min-height: 100vh;
}
.modal{
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
.modal-content{
    display: flex;
    flex-direction: column;
    margin: 15% auto;
    justify-content: center;
    align-items: center;
    padding: 30px;
    width: 400px;
    border-radius: 10px;
    background-color: #ACCBE1;
}
form{
    display: flex;
    flex-direction: column;
    font-weight: bolder;
    font-size: 20px;
    width: 400px;
    color: #637081;
    justify-content: center;
}
input{
    font-family: 'Kumbh Sans', sans-serif;;
    margin-top: 10px;
    border-radius: 30px;
    padding: 10px;
    border-color: #637081;
}
#submit-button{
    font-family: 'Kumbh Sans', sans-serif;
    border: none;
    font-size: 30px;
    margin-top: 10px;
    color: #CEE5F2;
    padding: 10px;
    border-radius: 30px;
    background-color: #637081;
}
#submit-button:hover{
    background-color: #47515e;
}
#cancel-button{
    margin-left: auto;
    font-family: 'Kumbh Sans', sans-serif;
    border: none;
    font-size: 20px;
    margin-top: 10px;
    color: #CEE5F2;
    padding: 10px;
    border-radius: 30px;
    background-color: #637081;
}
#cancel-button:hover{
    background-color: #47515e;
}
header{
    display: flex;
    background-color: #637081;
    font-size: 50px;
    color: #CEE5F2;
    padding: 20px;
    align-items: center;
}
#container{
    min-height: 100vh;
    display: flex;
    flex-direction: row;
}
#sideBar{
    display: flex;
    flex-direction: column;
    background-color: #7C98B3;
    font-size: 30px;
    width: 25%;
    text-align: center;
    padding: 30px;
    color: #CEE5F2;
}
.sideBarElement{
    margin-top: 20px;
    margin-bottom: 20px;
}
#newProject{
    color: #CEE5F2;
    border: none;
    font-size: 30px;
    font-family: 'Kumbh Sans', sans-serif;
    background-color: #ACCBE1;
    color: #637081;
    height: 100px;
    text-align: center;
    border-radius: 50px;
}
#newProject:hover{
    background-color: #637081;
    color: #ACCBE1;
}
project-container{
    display: flex;
    width: 70%;
    padding: 25px;
    align-items: center;
    margin: 20px;
}
project-window{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #536b7881;
    border-radius: 10px;
    align-items: center;
    padding: 20px;
}
#headerProjectWindow{
    display: flex;
    flex-direction: row;
    width: 97%;
    height: 70px;
}
#addNewTask{
    color: #637081;
    font-size: large;
    margin: 10px;
    width: 30%;
    height: 50px;
    border: none;
    background-color: #ACCBE1;
    border-radius: 50px;
}
#addNewTask:hover{
    background-color: #536b7881;
    color: #ACCBE1;
}
.task{
    height: 20px;
    margin: 10px;
    width: 90%;
    color: #CEE5F2;
    border-radius: 50px;
    background-color: #637081;
    text-align: center;
    padding: 20px;
}
#nameOfProject{
    color: #637081;
    font-size: large;
    margin: 10px;
    width: 100%;
    height: 50px;
    background-color: #ACCBE1;
    border-radius: 50px;
    border: none;
}