*{
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background: #ACCBE1;
    font-family: 'Kumbh Sans', sans-serif;
}
header{
    display: flex;
    background-color: #637081;
    font-size: 50px;
    color: #CEE5F2;
    padding: 20px;
    height: 10%;
}
content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}
#sideBar{
    display: flex;
    flex-direction: column;
    background-color: #7C98B3;
    font-size: 35px;
    width: 30%;
    
}