*{
    height: 100%;
}
body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background: #ACCBE1;
    font-family: 'Kumbh Sans', sans-serif;
}
header{
    display: flex;
    background-color: #637081;
    font-size: 50px;
    color: #CEE5F2;
    padding: 20px;
    height: 15%;
    align-items: center;
}
content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}
#sideBar{
    display: flex;
    flex-direction: column;
    background-color: #7C98B3;
    font-size: 30px;
    width: 25%;
    text-align: left;
    padding: 30px;
    color: #CEE5F2;
}
.sideBarElement{
    margin-top: 20px;
    margin-bottom: 20px;
}
project-container{
    display: flex;
    width: 70%;
    padding: 25px;
    align-items: center;
}
project-window{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #536b7881;
    border-radius: 10px;
}