*{
    height: 100%;
}
body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background: #ACCBE1;
    font-family: 'Kumbh Sans', sans-serif;
}
header{
    display: flex;
    background-color: #637081;
    font-size: 50px;
    color: #CEE5F2;
    padding: 20px;
    height: 15%;
    align-items: center;
}
container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}
#sideBar{
    display: flex;
    flex-direction: column;
    background-color: #7C98B3;
    font-size: 30px;
    width: 25%;
    text-align: center;
    padding: 30px;
    color: #CEE5F2;
}
.sideBarElement{
    margin-top: 20px;
    margin-bottom: 20px;
}
#newProject{
    color: #CEE5F2;
    border: none;
    font-size: 30px;
    font-family: 'Kumbh Sans', sans-serif;
    background-color: #ACCBE1;
    color: #637081;
    height: 100px;
    text-align: center;
    border-radius: 50px;
}
#newProject:hover{
    background-color: #637081;
    color: #ACCBE1;
}
project-container{
    display: flex;
    width: 70%;
    padding: 25px;
    align-items: center;
    margin: 20px;
}
project-window{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #536b7881;
    border-radius: 10px;
    align-items: center;
    padding: 20px;
}
#headerProjectWindow{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70px;
}
#addNewTask{
    color: #637081;
    font-size: large;
    margin: 10px;
    width: 30%;
    height: 50px;
    border: none;
    background-color: #ACCBE1;
    border-radius: 50px;
}
#addNewTask:hover{
    background-color: #536b7881;
    color: #ACCBE1;
}
.task{
    height: 20px;
    margin: 10px;
    width: 90%;
    color: #CEE5F2;
    border-radius: 50px;
    background-color: #637081;
    text-align: center;
    padding: 20px;
}
#nameOfProject{
    color: #637081;
    font-size: large;
    margin: 10px;
    width: 100%;
    height: 50px;
    background-color: #ACCBE1;
    border-radius: 50px;
    border: none;
}