*{
    box-sizing: border-box;
}
body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: #ACCBE1;
    font-family: 'Kumbh Sans', sans-serif;
}
header{
    display: flex;
    background-color: #637081;
    font-size: 50px;
    color: #CEE5F2;
    padding: 20px;
}